<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Tesztek</title>
    </head>
    <body>
        <div id="main-kontener">
            <div class="nav-kontener">
                <nav>
                    <li>
                        <button onclick="betolt(0)">
                            Csoportmunkaeszközök, Git
                        </button>
                    </li>
                    <li><button onclick="betolt(1)">HTML5, CSS3</button></li>
                    <li>
                        <button onclick="betolt(2)">
                            JavaScript, ECMAScript
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(3)">
                            Tiszta kód alapelvek
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(4)">
                            Adatbázis-tervezés, adatbázis-kezelés, SQL
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(5)">
                            Mobil alkalmazásfejlesztés
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(6)">
                            Frontend készítésre szolgáló JavaScript
                            keretrendszerek
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(7)">
                            Backend készítésre szolgáló nyelvek és
                            keretrendszerek, ORM
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(8)">
                            Objektum-Orientált Programozás (OOP)
                        </button>
                    </li>
                    <li>
                        <button onclick="betolt(9)">
                            Tartalomkezelő rendszerek (CMS)
                        </button>
                    </li>
                    <li><button onclick="betolt(10)">Tesztelés</button></li>
                </nav>
            </div>
            <div id="teszt-kontener"></div>
        </div>
        <script src="/js/csoportmunka.js"></script>
        <script src="/js/html5.js"></script>
        <script src="/js/javaecma.js"></script>
        <script src="/js/tisztakod.js"></script>
        <script src="/js/adatbazis.js"></script>
        <script src="/js/mobil.js"></script>
        <script src="/js/frontend.js"></script>
        <script src="/js/backend.js"></script>
        <script src="/js/oop.js"></script>
        <script src="/js/tartalomkezelo.js"></script>
        <script src="/js/teszteles.js"></script>
        <script src="/js/letrehoz.js"></script>
        <script src="/js/betolt.js"></script>
    </body>
</html>
