<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Document</title>
    </head>
    <body>
        <div id="test-kontener">
            <a href="/">Főoldal</a>
            <h1>Teszt</h1>
            <div id="test-kerdesek">
                <div
                    id="balra-nyil"
                    onclick="hatra()"
                >
                    <span class="material-symbols-outlined">
                        arrow_circle_left
                    </span>
                </div>
                <div id="test-kerdes"></div>
                <div
                    id="jobbra-nyil"
                    onclick="elore()"
                >
                    <span class="material-symbols-outlined">
                        arrow_circle_right
                    </span>
                </div>
            </div>
        </div>
        <script src="/js/csoportmunka.js"></script>
        <script src="/js/html5.js"></script>
        <script src="/js/javaecma.js"></script>
        <script src="/js/tisztakod.js"></script>
        <script src="/js/adatbazis.js"></script>
        <script src="/js/mobil.js"></script>
        <script src="/js/frontend.js"></script>
        <script src="/js/backend.js"></script>
        <script src="/js/oop.js"></script>
        <script src="/js/tartalomkezelo.js"></script>
        <script src="/js/teszteles.js"></script>
        <script src="/js/tesztletrehoz.js"></script>
        <script src="/js/teszt.js"></script>
    </body>
</html>
